.BODY{ background-color: #ffffff; background-attachment:fixed; background-image:url('http://www.mauriziocalo.org/img/sfondo.html'); background-repeat:  no-repeat; background-position: 0px -120px; font-family: arial,helvetica,sans-serif; font-size: 9pt; text-align: left; font-color: #000000;} 
 .BODY1{ background-color: #ffffff; background-attachment:fixed; background-image:url('http://www.mauriziocalo.org/img/sfondo.html'); background-repeat:  no-repeat; background-position: 0px 0px; font-family: arial,helvetica,sans-serif; font-size: 9pt; text-align: left; font-color: #000000;} 
 .BODY2{ background-color: #ffffff; background-attachment:fixed; background-image:url('http://www.mauriziocalo.org/img/sfondo.html'); background-repeat:  no-repeat; background-position: -155px -120px; font-family: arial,helvetica,sans-serif; font-size: 9pt; text-align: left; font-color: #000000;} 
 TD { font-family: arial,helvetica,sans-serif; font-size: 9pt}   
 b { font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #000000;}
 P {font-family: arial,helvetica,sans-serif; font-size: 9pt; color: #000000;}    
 li {font-family: arial,helvetica,sans-serif; font-size: 9pt; color: #000000;} 
 H7 { font-family: arial,helvetica,sans-serif; font-size: 9pt; text-align: center; font-color: red} 
 H6 { font-family: arial,helvetica,sans-serif; font-size: 9pt;color:#000000;}  
 H1 { font-family: verdana; font-size: 14pt;color: #CC0000; text-align: center;} 
 H4 { font-family: verdana,; font-size: 10pt;color: #CC0000; text-align:center;} 
 H3 { font-family: verdana, ; font-size: 11pt;color: #000099; text-align:left;} 
 a {font-size: 100%;background: transparent; color: #009900;text-decoration: none} 
 a:link {font-size: 100%;background: transparent; color: #009900;text-decoration: none}  
 a:hover {color: #000099;
font-style: normal;
text-decoration: none;}
a:visited {color: #003300;
font-style: normal;
font-style: normal;
font-weight: normal;
text-decoration: none}
.riga_rossaall
	{color:#0066FF;
	font-weight:normal;
	font-family:"Times New Roman", serif;
	text-align:center;
	background:#ffffff; 
	border-bottom:#0066FF solid;
	border-right:thin #0066FF solid;
	border-top:thin #0066FF solid;
	border-left:thin #0066FF solid;}